.navbar
{
  background-color: rgba(0, 0, 0, 0.837);
  font-size: 20px;
  font-family: 'Anton', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-brand{
  color: whitesmoke;
}
.nav-link
{
  color:blanchedalmond;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.news
{
  padding:60px;
}

.card
{
 border:5px solid rgba(107, 98, 98, 0.249);
 margin:10px;
 border-radius: 10px;
 box-shadow: 5px 5px 5px 5px rgba(107, 98, 98, 0.601);
}
